page-home {
  .page-content {
    margin-top: 45px;
  }
  .login-content {
    background: #2979FF;
    height: 100%;
    color: #ffffff !important;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #2962FF;
      padding: 20px 10px 0px 10px;
      margin-top: 5px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      padding: 0px 16px 20px 16px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .register-btn, .submit-btn {
      color: #ffffff;
    }
  }
}
