<ion-header *ngIf="isAuthenticated === false">
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-header *ngIf="isAuthenticated === true">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Projects
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showPopover($event)" icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-content" *ngIf="isAuthenticated === false" padding>
    <ion-row class="login-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <h4 class="login-title">
          Actor Templates
        </h4>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <div class="login-box">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <ion-row>
          <ion-col offset-md-3 col-md-6>
            <ion-list inset>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="loginCredentials.email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offset-md-3 col-md-6 class="signup-col">
            <ion-row>
              <ion-col>
                <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button class="social-btn" full type="button" (click)="socialLogin('facebook')">Facebook</button>
              </ion-col>
              <ion-col>
                <button ion-button class="social-btn" full type="button" (click)="socialLogin('google')">Google</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button class="register-btn" block outline type="button" (click)="createAccount()">Create New Account</button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

  <div *ngIf="isAuthenticated === true" padding class="page-content">
    <ion-card *ngFor="let project of projectList | async" (click)="openProject(project)">
      <ion-card-content>
        <ion-card-title>
          {{ project.name }}
        </ion-card-title>
        <ion-row>
          <ion-col col-9>
            <p>
              {{ project.description }}
            </p>
          </ion-col>
          <ion-col col-3>
            <ion-item>
              <button ion-button icon-right item-right clear (click)="openProject(project)">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    {{ projectList | async | json }}


    <ion-fab right bottom>
      <button color="primary" ion-fab (click)="openAddProject()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
