<ion-menu [content]="content" persistent>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let page of pages">
        <button ion-item (click)="openPage(page)" *ngIf="page.title !== false">
          {{ page.title }}
        </button>
        <br *ngIf="page.title === false">
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
