<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" *ngIf="this.type == 'modal'">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Template Detail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Name
      <ion-note item-right>
        {{ template.name }}
      </ion-note>
    </ion-item>
    <ion-item>
      Description
      <ion-note>
        <p>
          {{ template.description }}
        </p>
      </ion-note>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-list-header>
      Persons
      <button ion-button round item-right icon-left (click)="openAddPerson()">
        <ion-icon name="add"></ion-icon>
        Add person
      </button>
    </ion-list-header>

    <ion-item-sliding *ngFor="let person of persons | async" #slidingItem>
      <ion-item>
        {{ person.name }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editPerson(slidingItem, person)">
          Edit
        </button>
        <button ion-button color="danger" (click)="removePerson(slidingItem, person)">
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-divider></ion-item-divider>

    <button ion-button full type="button" (click)="openEditModal()">Edit</button>

  </ion-list>
</ion-content>
